@font-face {
    font-family: 'Libre-Caslon-Text';
    src: url('Fonts/LibreCaslonText-Regular.ttf') format('truetype');
}

body, html {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* To stop scrolling from x-axis*/
    background-color: #FFF8E7;
}

/* Navigation */
nav {
    background-color: #1f2c38;
    padding: 10px 1%;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    position: relative; /* To ensure that when logo uses position absolute it is positioned to the nearest positioned element */
}

.logo {
    display: flex; /* Ensures logo is properly aligned */
    align-items: center;
    position: absolute; /* To put it above other elements */
}

.logo img {
    height: auto;
    width: 125px;
    display: block;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    padding: 0 20px;
}

nav li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

header {
    padding: 20px; /* Add some padding for visual spacing */
    font-family: 'Libre-Caslon-Text';
}

header h1 {
    font-size: 100px; /* The big font-size is used to ensure that users who may have impairments can see it*/
    color: #1f2c38;
    margin: 0;
}

#paper-plane {
    float: right;
    width: 475px;
    height: auto;
    margin-top: 25em;
    padding-right: 15em;
}

#paper-plane img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

/* Page Container where all elements are inside of*/
.page-container {
    position: relative;
    min-height: 100%;
}

/* Styling for Background image */
.background-image {
    position: absolute; /* To stop Background image being placed above the header */
    display: block;
    width: 120vw;
    margin: -10vw;
}


.content {
    position: relative;
    padding-bottom: 50px; /* Add padding to ensure there's space at bottom */
}

.intro-text {
    position: absolute;
    width: 100%;
    padding: 40px 20px;
    top: 165vh;
    left: 0;
    font-family: 'Libre-Caslon-Text';
}

.intro-text h2 {
    font-size: 4.9em;
    color: #FFF8E7;
    position: relative;
    text-align: left;
    margin: 0;
    padding-left: 75px;
    max-width: 100%;
}

.intro-text p {
    font-size: 2.5em;
    color: #FFF8E7;
    line-height: 95px;
    text-align: center;
    float: right;
    width: 90%;
    padding-right: 35px;
    padding-top: 45px;
    margin: 0;
}

.description {
    clear: both;
    width: 100%;
    position: absolute;
    bottom: 4em;
}

.description p {
    font-size: 3em;
    color: #FFF8E7;
    float: left;
    width: 90%;
    padding-top: 0;
    font-family: 'Libre-Caslon-Text';
    margin-top: 0;
    text-align: left;
    margin-left: 0;
}

.box-1c {
    border-radius: 15px;
    box-sizing: border-box;
    float: left;
    margin: 2px;
    background-color: #DFA05D;
    width: 50%;
    height: 650px;
    margin-left: 2em;
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Origami-Stallion {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    border-radius: 15px;
    position: relative;
    z-index: 2;
    object-fit: contain;
}

.box-1b {
    border-radius: 15px;
    box-sizing: border-box;
    float: left;
    margin: 2px;
    background-color: #AC5045;
    width: 49%;
    margin-left: 2em;
    padding: 60px;
}

.box-1a {
    border-radius: 15px;
    box-sizing: border-box;
    float: right;
    margin: 25px;
    background-color: #658761;
    width: 40%;
    margin-left: 65px;
    margin-right: 3.85%;
    padding: 60px;
    margin-top: 0;
}

.last-text {
    position: absolute;
    width: 100%;
    padding: 40px 20px;
    top: 235vh;
    left: 0;
    font-family: 'Libre-Caslon-Text';
}

.japanese-text {
    float: right;
    margin-top: 28.5em;
    position: absolute;
    right: 0;
    padding-right: 17.5em;
}

.japanese-text h2 {
    font-size: 10em;
    rotate: -8.5deg;
    color: #1f2c38;
}

.english-text {
    float: left;
    position: absolute;
    margin-top: 47em;
    z-index: 1;
}

.english-text h2 {
    font-size: 7.5em;
    rotate: -3.5deg;
    color: #1f2c38;
}

.last-text img {
    display: block;
    width: 100%; 
    height: 100%; 
    max-width: none;
    max-height: none;
    position: relative;
    z-index: 2;
    object-fit: cover; 
    border-radius: 15px;
}

.box-2a {
    box-sizing: border-box;
    margin: 25px;
    background-color: #F0BE49;
    width: 45%; 
    height: 65em; 
    margin-left: 75px;
    padding: 0; 
    border-radius: 15px;
    position: absolute;
    margin-top: 55em;
    rotate: -5.5deg;
    z-index: 0;
    overflow: hidden; 
}

.box-2b {
    border-radius: 15px;
    box-sizing: border-box;
    background-color: #AC5045; 
    width: 35%;
    padding: 40px;
    margin-left: auto;
    margin-right:10em;
    position: absolute;
    right: 0;
    margin-top: 60em; 
    z-index: 1;
}

.last-text p {
    font-size: 2.5em;
    color: #FFF8E7;
    font-family: 'Libre-Caslon-Text';
    line-height: 1.5em;
    text-align: center;
    margin: 0;
}
.box-2c {
    box-sizing: border-box;
    background-color:#CB883A;
    width: 46%;
    padding: 15px;
    border-radius: 15px;
    margin-left: 150px;
    margin-top: 20px; 
    clear: left; 
    position: relative;
    margin-top: 125em;
    rotate: -5.5deg;
    z-index: 1;
}
  
  .box-2c p {
    font-size: 4em;
    width: 65%;
    padding-left: 0.5em;
    padding: 0.5em;
    color: #FFF8E7;
    font-family: 'Libre-Caslon-Text';
    text-align: left;  
    margin: 0;
}