.libre-caslon-text-regular {
    font-family: "Libre Caslon Text", serif;
    font-weight: 400;
    font-style: normal;
}

body, html {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* To stop scrolling from */
    background-color: #FFF8E7;
}

/* Navigation */
nav {
    background-color: #1f2c38;
    padding: 10px 1%;
    overflow-y: hidden;
    display: flex; 
    align-items: center;
    position: relative; /* To ensure that when logo uses position absolute it is positioned to the nearest positioned element */
}

.logo {
    display: flex; /* To ensure that the logo is properly aligned vertically and horizontally. */
    align-items: center;
    position: absolute; /* To put it above other elements */
}

.logo img {
    height: auto;
    width: 125px;
    display: block;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    padding: 0 20px;
}

nav li a {
    color: white; 
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

header { 
    padding: 20px; /* Add some padding for visual spacing */
    font-family: "Libre Caslon Text", serif;  
    justify-content: center;
}

header h1 {
    font-size: 125px; /*  The big font-size is used to ensure that users who may have impairments can see it*/
    color: #1f2c38;
    margin: 0;
    text-align: center;
}

main .tutorials-container {
    padding: 20px; /* To create spacing within the container */
    display: flex; /* To layout the elements that will be inside this container in a block-level format */
    flex-direction: column; /* To arrange elements within the container vertically */
}

.paper-scorpion {
    padding: 20px; /* To create spacing within this section */
    margin: 0; /* To remove any extra spacing around the section */
}

.paper-scorpion .bottom-card-row {
    margin-top: -300px;
}
.paper-scorpion h2 {
    font-family:"Libre Caslon Text", serif;
    color: #1f2c38;
    margin-top: 0; /* Ensures there is no extra spacing on the top of the header text */
    margin-bottom: 15px; /* Adds 15px of space beneath header */
    text-align: left; /* To align the text to the left */
    font-size: 4.9em; /* Em used to ensure that the font-size will look relatively the same on different browsers */
}

.paper-scorpion .banner-image {
    margin-bottom: 50px; /* Ensures spacing is added to the bottom of the banner pushing the other images/elements down */
    padding: 0; /* To ensure no spacing is within the banner image */
    width: 100%; 
}

.banner-image {
    margin-bottom: 20px; 
    padding: 0; 
    width: 100%;
}
.banner-image img {
    display: block; /* Ensures that it displays the image as a block element */
    width: 100%; 
    height: auto; 
}


.tutorial-steps img {
    width: 50%;
    height: auto;
    flex-grow: 0; /* To prevent the image from growing and taking space available within the flex container */
    margin: 0; /* To ensure there is no extra space around the image */
    padding: 0; /* To ensure there is no space within the image */
}
.tutorial-steps {
    display: flex;
    flex-direction: column; /* To make the elements within the section to align vertically in a column */
    padding: 15px; /* To add spacing within the section, specifically 15px */
    flex-wrap: wrap; 
    justify-content: center; /* To make elements within the section be aligned horizontally */
}

.paper-flower {
    padding: 20px;
    margin-top: 100px; /* To push the section more down */
    margin-bottom: 100px; /* To add 100px of space on the bottom to separate from next section */
    display: flex; 
    flex-direction: column; /* To make the elements within the section to align vertically in a column */
    align-items: flex-start; /* To align the elements at the start of the section */
}

.paper-flower h2 {
    font-family: "Libre Caslon Text", serif;
    color: #1f2c38;
    margin-top: 0; /* Ensures no extra space at the top of the header */
    margin-bottom: 10px; 
    text-align: left; /* To align the header text to the left */
    font-size: 4.9em; /* Em used to ensure that the font-size will look relatively the same on different browsers */
}

.paper-flower .banner-image {
    margin-bottom: 50px; 
    padding: 0;
    width: 100%;
}

.card-row {
    display: grid; /* Allows for images/elements to be displayed in a grid container */
    grid-template-columns: 1fr 1fr; /* To create two equal width columns inside the grid */
    justify-items: center; /* Ensures that the elements within the class will be centered horizontally */
    margin-bottom: 0; 
    gap: 20px; /* To add equal spacing between the images */
}

.card-row img {
    width: 100%;
    max-width: 100%; 
    height: auto;
}


.bottom-card-row {
    display: grid; /* Allows for images/elements to be displayed in a grid container */
    grid-template-columns: 1fr; /* To allow for the creation of a single column that takes up the full available width */
    justify-items: center; /* Ensures that the elements within the class will be centered horizontally */
    gap: 20px; /* To add equal spacing between the images */
    width: 100%;
}


.bottom-card-row img {
    width: 100%;
    height: auto;
}


.paper-scorpion .card-row {
    margin-bottom: 20em; 
}

.paper-flower .card-row {
    margin-bottom: 30em;
}

.paper-crane .card-row {
    margin-bottom: 0em; 
    margin-top: 25px;
}

.paper-flower .bottom-card-row {
    margin-top: -450px;
}
.paper-crane .bottom-card-row:nth-child(2) img:nth-child(1) {
    margin-top: 5px;
}
.paper-crane .bottom-card-row {
    margin-top: 20px; 
}

.paper-crane {
    padding: 20px;
    margin-bottom: 100px;
}

.paper-crane h2 {
    font-family: "Libre Caslon Text", serif;
    color: #1f2c38;
    margin-top: 0; /* To remove any extra spacing from the top of the header */
    margin-bottom: 15px; /* To add spacing beneath the header to push it up */
    padding-left: 20px;
    text-align: left; /* To align the text to the left */
    font-size: 4.9em; /* Em used to ensure that the font-size will look relatively the same on different browsers */
    
}
